.class-overview-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-block: 1rem;
    padding-inline: 2rem;
}

.class-option-selection-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 50%;
    margin-top: 5rem;
}

.failed-courses-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.class-filter-container {
    background-color: black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 400px;
    border-radius: 8px;
    gap: 1rem;
    text-align: center;
}

.option-selection {
    padding-block: 1rem;
    padding-inline: 1rem;
    background-color:  #F7F5FF;
    color: #1C1B22;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.selected-option-card {
    padding: 1rem;
    border-radius: 8px;
    background-color:#FFFFFF;
    color: #6D28D9;
    text-align: center;
}

.selected-option-card:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.8);
}

.officer-list {
    background-color: black;
    padding:1rem;
}

.course-card {
    background-color: #8590EF;
    padding: 1rem;
    margin-bottom: 0.5rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
}

.class-select {
    background-color: black;
    border-radius: 8px;
    color: white;
}