.personal-information-entry-container {
    padding: 1rem;
    padding-top: 4rem;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.data-entry-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 3rem;
    row-gap: 1rem;
}

.data-entry-form mat-form-field {
    width: 100%;
}

.officer-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.officer-image-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
}