.data-entry-dashboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.data-entry-dashboard-button {
    height: fit-content;
    border-radius: 8px;
    padding: 12px 0;
}

.data-entry-dashboard {
    text-align: center;
}

.course-item {
    cursor: pointer;
}