.header{
    text-align: center;
}

.content{
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.class-list-container{
    background-color: black;
    padding:1rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 500px;
}

.class-card:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.8);
}

.class-select {
    background-color: black;
    border-radius: 8px;
}

.mat-mdc-select-panel {
    background-color: black;
    color: white;
}

.class-filter-container {
    background-color: black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 400px;
    border-radius: 8px;
    gap: 1rem;
    text-align: center;
}

.option-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-block: 0.5rem !important;
}

.option-card {
    padding: 1rem;
    border-radius: 8px;
    background-color: white;
    color: black;
    text-align: center;
}