<div class="header">
    <h1>Enrolled Classes</h1>
</div>
<div class="content">
    <div class="class-list-container">
        @for (class of classes; track $index) {
            <mat-card style="text-align: center; padding: 1rem;" class="class-card" (click)="selectClass(class)">
                <mat-card-title>Name: {{ class.name }}</mat-card-title>
                <mat-card-subtitle>Number of Students: {{class.numberOfStudents || 0}}</mat-card-subtitle>
            </mat-card>
        }
        <button matButton="elevated" style="color: black;" (click)="openAddClassDialog()">Add new class +</button>
    </div>
    <div class="class-filter-container">
        <mat-select placeholder="Select a class" class="class-select" [ngModel]="selectedClassId" (ngModelChange)="onClassSelectionChange($event)">
            @for (class of classes; track $index) {
                <mat-option value="{{class.id}}">{{class.name}}</mat-option>
            }
        </mat-select>
        <sailor-list [classTitle]="selectedClass?.name" [sailors]="sailorsInClass" (addSailor)="openAddSailorDialog()"></sailor-list>
    </div>
</div>

<ng-template #addSailorDialog>
    <h2 mat-dialog-title>Add New Sailor</h2>
    <mat-dialog-content>
        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Sailor Name</mat-label>
            <input matInput [(ngModel)]="newSailorName" />
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Sailor Class</mat-label>
            <input matInput [ngModel]="selectedClass?.name" readonly/>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button matButton="elevated" (click)="dialogRef.close()">Cancel</button>
        <button matButton="elevated" color="primary" (click)="confirmAddSailor()">Add</button>
    </mat-dialog-actions>
</ng-template>

<ng-template #addClassDialog>
    <h2 mat-dialog-title>Add New Class</h2>
    <mat-dialog-content>
        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Class Name</mat-label>
            <input matInput [(ngModel)]="newClassName" />
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Class Instructor</mat-label>
            <mat-select [(ngModel)]="newClassInstructorId">
                @for (instructor of instructors; track $index) {
                    <mat-option [value]="instructor.id">{{ instructor?.name }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button matButton="elevated" (click)="dialogRef.close()">Cancel</button>
        <button matButton="elevated" color="primary" (click)="confirmAddClass()">Add</button>
    </mat-dialog-actions>
</ng-template>