<mat-drawer-container [hasBackdrop]="true" class="officer-details-layout-container" role="navigation">
      <mat-drawer [opened]="isMenuOpened" class="drawer-container">
        <div class="drawer-image-container">
            <img src="/navy-icon.png" class="drawer-image"/>
        </div>
          <mat-divider></mat-divider>
          <div class="router-container">
              <h3 [routerLink]="['personal-information']" (click)="toggleMenu()">Personal Information</h3>
              <h3 [routerLink]="['academics']" (click)="toggleMenu()">Academics</h3>
              <h3 [routerLink]="['personal-information']" (click)="toggleMenu()">Discpline/Observations</h3>
              <h3 [routerLink]="['personal-information']" (click)="toggleMenu()">Traits Assessment</h3>
              <h3 [routerLink]="['personal-information']" (click)="toggleMenu()">Extra Curricular</h3>
              <h3 [routerLink]="['personal-information']" (click)="toggleMenu()">Misc Records</h3>
          </div>
      </mat-drawer>

      <mat-drawer-content>
        <button matIconButton (click)="toggleMenu()" style="margin-left: 0.5rem;">
          <mat-icon>menu</mat-icon>
        </button>
        <router-outlet></router-outlet>
      </mat-drawer-content>
</mat-drawer-container>