.tab {
    padding: 16px;
}


.overview-tab {
    display: flex;
    align-items: center;
    justify-content: center;
}

.class-filter {
    background-color: inherit;
}

.class-selection {
    margin-top: 0.75rem;;
    align-items: center;
    display: flex;
    justify-content: center;
}