<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{element.id}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>

  <!-- Father Name Column -->
  <ng-container matColumnDef="fatherName">
    <th mat-header-cell *matHeaderCellDef>Father Name</th>
    <td mat-cell *matCellDef="let element">{{element.fatherName}}</td>
  </ng-container>

  <!-- CNIC Column -->
  <ng-container matColumnDef="cnic">
    <th mat-header-cell *matHeaderCellDef>CNIC</th>
    <td mat-cell *matCellDef="let element">{{element.cnic}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns;"
      (click)="navigateToOfficerDetails(row.id)"
  ></tr>
</table>
