.demo-table {
  width: 100%;
  margin: 20px 16px;
  background-color: inherit;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}
