.sailor-container {
  max-width: 450px;
  margin: auto;
  padding: 1rem;
  border-radius: 12px;
  background: black;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background: black;
  color: white;
  z-index: 10;
}

.sailor-list {
  height: 400px;
  overflow-y: auto;
  /* padding-right: 0.3rem; */
}

.sailor-item {
  margin-bottom: 0.7rem;
  margin-top: 0.7rem;
  padding: 0.7rem;
  border-radius: 8px;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
}

.sailor-item.hover-enabled:hover {
  cursor: pointer;
  background-color: rgba(202, 200, 200, 0.881);
}

.empty {
  text-align: center;
  color: #888;
  padding-top: 2rem;
  font-size: 14px;
}

.search-container {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 8px;
  background-color: inherit;
  margin: 1rem 0rem;
}

.search-container:focus-within {
  border: 1px solid white;
}

.search-input {
  width: 100%;
  background-color: inherit;
  border: none;
  height: 24px;
  color: white;
}

.search-input:focus {
  outline: none;
}


.search-icon {
  color: white;
}
