<div class="course-selection-container">
    <mat-form-field appearance="outline">
    <mat-label>Course</mat-label>
    <mat-select [ngModel]="selectedCourseId" name="course" (ngModelChange)="onCourseSelection($event)">
      @for (course of courseList; track course) {
        <mat-option [value]="course.id">{{course.name}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
    <mat-form-field *ngIf="!!selectedCourseId" appearance="outline">
        <mat-label>Assessment Type</mat-label>
        <mat-select [(ngModel)]="selectedAssessmentType" name="assessment">
            @for (assessment of assessmentTypeList; track assessment) {
            <mat-option [value]="assessment" (valueChange)="selectedAssessmentType = assessment">{{assessment.value}}</mat-option>
            }
        </mat-select>
    </mat-form-field>
</div>

<div class="officers-list" *ngIf="!!selectedAssessmentType.value">
    <h3>Entering {{selectedAssessmentType.value}} marks for <strong>{{className}}</strong> - <em>{{courseName}}</em></h3>
    <p>Total Officers: {{ officersInClass.length }}</p>
    <mat-form-field appearance="outline">
        <mat-label>Total Marks</mat-label>
        <input matInput [(ngModel)]="totalMarksInCourse"/>
    </mat-form-field>
    <mat-list>
        @for(officer of officersInClass; track officer){
            <mat-list-item>
                <div matListItemTitle>
                    {{ officer.id }} {{ officer.name }}
                </div>
                <div matListItemMeta>
                    <input
                    class="marks-input"
                    [(ngModel)]="marksOfEachOfficer[officer.id]"
                    />
                    / {{ totalMarksInCourse }}
                </div>
            </mat-list-item>
        }
    </mat-list>
    <button matButton="elevated" class="save-marks-button" (click)="saveMarks()" [disabled]="!(officersInClass.length > 0)">Save Marks</button>
</div>

<ng-template #successDialog>
    <h4 mat-dialog-content>Marks saved successfully</h4>
    <mat-dialog-actions>
        <button mat-button (click)="dialogRef.close()">OK</button>
    </mat-dialog-actions>
</ng-template>