.app-header {
    background-color: #0A0825;
    color: white;
    padding: 12px 16px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.snackbar-success {
    background-color: #4CAF50; /* Green */
    color: white;
}

.snackbar-error {
    background-color: #f44336; /* Red */
    color: white;
}

.snackbar-info {
    background-color: #2196F3; /* Blue */
    color: white;
}

.snackbar-warning {
    background-color: #f5ef34; /* Orange */
    color: white;
}