.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 0.5rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 0.5rem;
}
.login-button {
    width: 300px;
    margin-top: 1rem;
}
.login-image {
    width: 300px;
    height: 250px;
    margin-bottom: 1rem;
}