.personal-information-container {
    padding-block: 0.5rem;
    padding-inline: 1rem;
}

.extra-details {
      max-width: 700px;
      margin: 20px auto;
      border-radius: 12px;
      padding: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px 40px; 
}

.extra-details .detail {
    margin-bottom: 0; 
}