.name-image-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.officer-image {
    width: 125px;
    height: 125px;
}

.main-text {
    font-size: 20px;
    font-weight: 700;
}

.subdued-text {
    color: gray;
    font-size: 16px;
    font-weight: 400;
}